<div class-"navBar">

</div>

<div class="lowerNavbar"> 
  <a href="/">Repositories</a><p><%=%></p>
  <a href="/">Stars</a><p><%=@stars%></p>
  <a href="/">Followers</a>
  <a href="/">Following</a></p>
</div>

<h1> Welcome <%=@member.nickname%></h1>
<% @member.followers.each do |follower|%>
  <p><%=follower[0]%></p>
  <img src=<%= follower[1] %>>
<% end %>

<% @member.following.each do |leader|%>
  <p><%=leader[0]%></p>
  <img src=<%= leader[1] %>>
<% end %>
<img src=<%= current_user.image_url %>> 
