<div class-"navBar">

</div>

<div class="lowerNavbar"> 
  <a href="/">Repositories</a><p></p>
  <a href="/">Stars</a><p></p>
  <a href="/">Followers</a>
  <a href="/">Following</a></p>
</div>

<h1 class="name"> Welcome <%=@member.nickname%></h1>
<h1> Followers: </h1>
<% @member.followers.each do |follower|%>
  <p class="follower"><%=follower[0]%></p>
  <img src=<%= follower[1] %> height="40" width= "40">
<% end %>

<h1> Following: </h1>
<% @member.following.each do |leader|%>
  <p class="following"<%=leader[0]%></p>
  <img src=<%= leader[1] %> height="40" width= "40">
<% end %>
<img src=''> 

<h1> Starred Repositories: </h1>

<ul>
  <%@member.starred_repos.each do |repo| %>
    <li class="starred-repos"><%= repo.name%></li>
  <% end %>
</ul>

<h1> Repositories: </h1>

<ul>
  <%@member.repos.each do |repo| %>
    <li class="repos"><%= repo.name%></li>
  <% end %>
</ul>

<h1> Recent Commits: </h1>
		
<ul>
  <%@member.commits.each do |commit| %>
    <li class="commits"><%=commit.date%>-<%=commit.author%>: <%= commit.message%></li>
  <% end %>
</ul>

